<fieldset class="border p-2">
    <legend class="w-auto">ngIf and ngTemplate to show or hide piece of page</legend>
    <demo-template></demo-template>
</fieldset>
<br/>

<fieldset class="border p-2">
    <legend class="w-auto">Custom Directive</legend>
    <input type="text" appInputFormat > (custom directive uppercase)
    <br/>
    <input type="text" [appInputFormat]="'lowercase'" > (custom directive lowercase)
    <br/>
    <input type="number" #fromVal placeholder="fromIndex" (keyup)="0">
    <input type="number" #toVal placeholder="toIndex" (keyup)="0">
    <input type="text" appStringRange [fromIndex]="fromVal.value" [toIndex]="toVal.value" > (custom directive string substr)
</fieldset>
<br/>

<fieldset class="border p-2">
    <legend class="w-auto">ngSwitch and *ngSwitchCase</legend>
    <demo-switch-case></demo-switch-case>
</fieldset>
