<fieldset class="border p-2">
    <legend class="w-auto">ngIf and ngTemplate to show or hide piece of page</legend>
    <div class="container" >
        <input type="text" #i (keyup)="writtenText = i.value">
        <br/><br/>
        <div *ngIf="writtenText.length > 0; then showText else noText">
        </div>
        <ng-template #showText>
            You wrote: {{ writtenText }}
        </ng-template>
        <ng-template #noText>
            *** Text empty ***
        </ng-template>
    </div>
</fieldset>

<fieldset class="border p-2">
    <legend class="w-auto">ngSwitch and *ngSwitchCase</legend>
    <demo-switch-case></demo-switch-case>
</fieldset>
