

<div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a 
            (click)="toggleActive(1)"
            routerLink="demo-pipe" 
            class="nav-link" 
            [class.active]="link === 1"
            data-toggle="pill" 
            role="tab" 
            aria-selected="true">Demo Pipe</a>
        <a 
            (click)="toggleActive(2)"
            routerLink="demo-input" 
            class="nav-link" 
            [class.active]="link === 2"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Demo Input</a>
        <a 
            (click)="toggleActive(3)"
            routerLink="demo-output" 
            class="nav-link" 
            [class.active]="link === 3"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Demo Output</a>
          <a 
            (click)="toggleActive(4)"
            routerLink="stock-component" 
            class="nav-link" 
            [class.active]="link === 4"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Demo Stock (Output)</a>
          <a 
            (click)="toggleActive(5)"
            routerLink="demo-directive" 
            class="nav-link" 
            [class.active]="link === 5"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Demo Directive</a>
          <a 
            (click)="toggleActive(6)"
            routerLink="template-driven-form" 
            class="nav-link" 
            [class.active]="link === 6"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Template Driven Form</a>
          <a 
            (click)="toggleActive(7)"
            routerLink="reactive-form" 
            class="nav-link" 
            [class.active]="link === 7"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Reactive Form (SignUp)</a>
          <a 
            (click)="toggleActive(8)"
            routerLink="demo-form-array" 
            class="nav-link" 
            [class.active]="link === 8"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Form Array Demo</a>
          <a 
            (click)="toggleActive(9)"
            routerLink="demo-change-password" 
            class="nav-link" 
            [class.active]="link === 9"
            data-toggle="pill"  
            role="tab"  
            aria-selected="false">Change Password Demo</a>
        <!-- <a class="nav-link" data-toggle="pill"  role="tab"  aria-selected="false">Messages</a>
        <a class="nav-link" data-toggle="pill"  role="tab" aria-selected="false">Settings</a> -->
      </div>
    </div>
    <div class="col">
      <div class="tab-content" id="v-pills-tabContent">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
