
<div class="container">
    
    <!-- 2 ways binding without ngModel -->
    <div>
        <input type="text" [value]="value" (input)="updateValue($event.target.value)" (keyup.enter)="onKeyUp()" >
        2 ways binding without ngModel: {{ value }}
    </div>
    <br/>
    <div>
        <input type="text" [(ngModel)]="valueTwo" (keyup.enter)="onKeyUpTwo()">
        2 ways binding with ngModel: {{ valueTwo }}
    </div>
    <br/>
    <div>
        <custom-input [(value)]="customValue"></custom-input>
        2 ways binding custom input w/o ngModel: {{ customValue }}
    </div>
    <br/>
    <div>
        <input type="text" #var1 (keyup)="0">
        template variable name (toUpperCase): {{ var1.value.toUpperCase() }}
    </div>
    <br/>
    <div>
        <input type="text" #var2 (keyup)="onTemplateVarChange(var2.value)">
        template variable bound to component variable (toLowerCase): {{ templateInputVariable }}
    </div>

</div>
