
<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
            required
            minlength="3"
            maxlength="7"
            pattern="apple"
            
            ngModel
            name="firstNameControlObject"    
            #firstName="ngModel"
            (change)="log(firstName)"
            
            id="firstName" 
            type="text" 
            class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
            <div *ngIf="firstName.errors.required">First Name is required</div>
            <div *ngIf="firstName.errors.minlength">
                First Name should be minumum {{ firstName.errors.minlength.requiredLength }} characters
            </div>
            <div *ngIf="firstName.errors.maxlength">
                First Name should be maximum {{ firstName.errors.maxlength.requiredLength }} characters
            </div>
            <div *ngIf="firstName.errors.pattern">
                First Name should match {{ firstName.errors.pattern.requiredPattern }} pattern
            </div>
        </div>
    </div>
    <div ngModelGroup="contactGroup" #contact="ngModelGroup">
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input 
                required
                minlength="8"
                maxlength="10"
                
                ngModel
                name="phoneControlObject"
                #phone="ngModel"
    
                id="phone" 
                type="text" 
                class="form-control">
                
        </div>
        <div *ngIf="contact.touched && contact.invalid" class="alert alert-danger">
            <div *ngIf="phone.errors.required">
                Phone number is required
            </div>
            <div *ngIf="phone.errors.minlength">
                Phone number should be minimum {{ phone.errors.minlength.requiredLength }} characters
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="contactMethod">Contact Method</label>
        <select ngModel name="contactMethod" id="contactMethod" class="form-control">
            <option value=""></option>
            <option *ngFor="let contact of contactMethods" [value]="contact.id">
                {{ contact.name }}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="otherContactMethod">Other Contact Method</label>
        <select ngModel name="otherContactMethod" id="otherContactMethod" class="form-control">
            <option value=""></option>
            <option *ngFor="let other of otherContacts" [ngValue]="other">
                {{ other.name }}
            </option>
        </select>
    </div>
    <div class="form-group form-check">
        <input 
            ngModel 
            name="isSubscribed" 
            class="form-check-input" 
            type="checkbox" 
            id="isSubscribed">
        <label class="form-check-label" for="isSubscribed">
          Is Subscribed
        </label>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <input 
            ngModel
            name="comment"

            id="comment" 
            type="text" 
            class="form-control">
    </div>
    <!--[disabled]="f.invalid"-->
    <button  class="btn btn-primary">Submit</button>
    <br/>
    {{ f.value | json }}
</form>
