
<body>
    <div class="container">
    
      <h1>Modal Examples</h1>
    
    
      <div class="modal-overlay">
        <div class="modal-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <form>
                        <div class="form-field">
                            <input type="email" name="email"
                                    placeholder="Email" autocomplete="off">
                            
                        </div>
                        <div class="form-field">
                            <input type="password" name="email"
                                    placeholder="Password" autocomplete="off">
                        </div>
                    </form>
                </li>
                <li class="nav-item">
                    <form>
                        <div class="form-field">
                            <input type="email" name="email"
                                    placeholder="Email" autocomplete="off">
                        </div>
                        <div class="form-field">
                            <input type="password" name="email"
                                    placeholder="Password" autocomplete="off">
                        </div>
                        <div class="form-field">
                            <input type="password" name="email"
                                    placeholder="Confirm Password" autocomplete="off">
                        </div>
                    </form>
                </li>
              </ul>
        </div>
      </div>
    
    
    
    
    
      <div class="modal-buttons">
    
        <button class="btn btn-primary" #loginButton>Login</button>
        &nbsp;&nbsp;
        <button class="btn btn-primary" #signUpButton>Sign Up</button>
    
      </div>
    
    </div>
    
    </body>

    